extend componentes/plantilla.pug
block contenidos
  .contenedor
    include componentes/menu.pug
    .articulo
      h2 Titulo Principal
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
        | Cras accumsan eleifend bibendum. In feugiat felis sed mi posuere varius.<br> 
        | Maecenas massa nibh, cursus sit amet bibendum nec, placerat non neque.
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
        | Cras accumsan eleifend bibendum. In feugiat felis sed mi posuere varius.<br> 
        | Maecenas massa nibh, cursus sit amet bibendum nec, placerat non neque.
      a.boton Ver Mas